:root{
   
    --color-fundo-light:#272b2f;
    --color-fundo:#1A1D20;
    --color-fundo-dark:#15171a;
    --color-fundo-darker:#0f1113;
    --color-green:#039c43;
    --color-light-green:#4ab173;
    --color-light-blue:#708bbd;

}
*{
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    
        
}

